A)

In [8]:
import re
l2 = []
l1 = ['rahul@codeasylums.com', 'Rahul Kumar','pratik@gmail.com','Ashish','Shiv@yahoo.com']
for i in l1:
    match = re.findall(r'[\w\.-]+@[\w\.-]+', i)
    l2.append(match)
l2 = [x for x in l2 if x != []]
l2

[['rahul@codeasylums.com'], ['pratik@gmail.com'], ['Shiv@yahoo.com']]

B)
b)	Take dictionary (Key : Class, Value: Name). Extract list of name basis on class.
Ex – {{‘9’:’Rahul’}, {‘10’:’Ritwik’}, {‘9’:’Pratik’},{’10’:’Sai’}}
Output – [‘Rahul’, ‘Pratik’], [‘Ritwik’,’Sai’]

In [18]:
d1 = {9:'Rahul',10:'Ritwik',9:'Pratik',10:'Sai'}
l3 = []
set1 = set(i for i in d1)
def out(s1,d1):
    for i in d1:
        
l3.append([d1[i] for i in set1])
l3

[['Pratik', 'Sai']]

C)

In [23]:
import pandas as pd
import numpy as np
data = pd.read_csv('iris.csv')
features = list(data.columns)

In [20]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [24]:
features

['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']

In [25]:
len(features) == data.shape[1]

True

In [30]:
for i in range(len(features)):
    print(str(data.columns[i]))

5.1
3.5
1.4
0.2
Iris-setosa

In [33]:
for i in range(len(features)):
    if features[i] == str(data.columns[i]):
         print(True)

True
True
True
True
True

D)

In [40]:
l4 = ['RiTwik','pRaTik','PoOjA','rahUl']
l5 = map(lambda x:x.lower(),l4)
l6 = map(lambda x:x.upper(),l4)
print(list(l5),list(l6))

['ritwik', 'pratik', 'pooja', 'rahul'] ['RITWIK', 'PRATIK', 'POOJA', 'RAHUL']